body {
    margin: 0;
    background-color: grey;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    height: 400px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black;
}

.game-object {
    position: absolute;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.endMsg {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 250px;
    transform: translate(-50%, -50%);
    text-align: center;
    border: solid black;
    background-color: grey;
    display: none;
}
.win {
    margin-top: 25px;

    color: green;
    
}
.playAgain {
    background-color: darkcyan;
    margin: 0 auto;
  
}

.lose {
    color: red;
    margin-top: 25px;
    
}


#player {
    top: 1px;
    left: 1px;
    height: 50px;
    width: 50px;
    background-color: blue;
    position: absolute;
    margin: 0;   
}
/* Platform Locations*/
.platform {
    background-color: black;
}

#platform1 {
    top: 200px;
    left: 100px;
    width: 150px;
    height: 20px;
}

#platform2 {
    top: 300px;
    left: 250px;
    width: 150px;
    height: 20px;
}

#platform3 {
    top: 150px;
    left: 400px;
    width: 150px;
    height: 20px;
}

#floor {
    top: 375px;
    left: 0;
    width: 700px;
    height: 25px;
}

/* Lava Locations*/
.lava {
    background-color: red;
}
#lava1 {
    top: 380px;
    left: 700px;
    width: 100px;
    height: 20px;
}
/*Goal Locations*/
.goal {
    background-color: green;
    top: 0;
    left: 800px;
    width: 100px;
    height: 400px;
}

