body {
    margin: 0;
    background-color: grey;
    
}

.game-object {
    position: absolute;
}

#player {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 50;
    width: 50;
    background-color: blue;
   
}

.platform {
    background-color: black;
}

#platform1 {
    top: 200px;
    left: 100px;
    width: 150px;
    height: 20px;
}

#platform2 {
    top: 300px;
    left: 250px;
    width: 150px;
    height: 20px;
}

#platform3 {
    top: 150px;
    left: 400px;
    width: 150px;
    height: 20px;
}

#floor {
    top: 375px;
    width: 700px;
    height: 20px;
}