body {
    background-color: grey;
    
}

.container {
    position: relative;
    border: solid;
    height: 800px;
    width: 940px
}

.player {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: blue;
    margin-top: 10px;
}

.floor {
    position: absolute;
    top: 700px;
    height: 50px;
    width: 930px;
    background-color: black;
}